#game {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

.board {
    display: flex;
    align-self: flex-start;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    padding: 5px;
    border: 1px solid #e4e4e4;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    border: 1px solid #e4e4e4;
}